


*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vh;
    background: lightblue;

}
.container{
    text-align: center;
    height: 60px;
}
header {
  height:100vh;  
  background: darkgreen;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: black;
  gap: 10px;
  padding-right: 30px;
}
header img{
    filter: invert(1);
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    gap: 10px;
    box-shadow: 0px 2px 8px 0px;
}
.search input[type="text"]{
    padding: 8px 10px;
    line-height: 1.5;
    font-size: 18;
    font-style: italic;
    border: none;
    border-left: 1px;
    border-bottom: 1px;
    border-color: darkred;
    outline: none;
    transition:150ms ease-in-out ;
    width: 60%;
} 
.search input[type="text"]:focus{
    border-left-color: transparent;
    border-bottom-color: white;
    width: 61%;
}
.btn{
    padding: 8px 10px;
    background: transparent;
    border-radius: 2px;
    user-select: none;
    font-size: 12px;
    border: 1px solid;
    cursor: pointer;
}
.btn:hover{
    background: yellow;
    border-color: darkgray;
    
}
#recipe-container{
   display: flex;
   justify-content: center;
   align-items: flex-start;
    

}
.recipe{
    height: 300px; 
   width: 300px;
   padding: 4px;
   box-shadow: 0px 0px 8px 2px;
   margin: 20px;
}
.recipe-title{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;

}
.recipe-image{
height: 210px;
}
.recipe-image img{
    height: 100%;
    width: 100%;
}
.recipe-text{
    height: 0px;
    visibility: hidden;
    opacity: 0;
    transition: all 200ms ease-in-out;
    background: #ccc;
    margin-top: 20px;
    overflow: hidden;
    overflow-y: auto;
}
.recipe-text ul{
    list-style-type:circle ;
    list-style-position: inside;
    text-align: left;
    padding: 5px;
}
.recipe-text ul>li{
    padding: 5px;

}
.recipe:hover .recipe-text{
    height: 120px;
    visibility: visible;
    opacity: 1;
}
.recipe:hover{

}