
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background: lightblue;

}
header{
    height: 50px;
    background: darkgreen;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: red;
    gap: 10px;
    padding-right: 30px;
}
.container{
    text-align: center;
    height: 60px;
}
